@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
.background{
    background-image: url(Images/pexels-stephan-seeber-1261728.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5px 0;
    flex-wrap: wrap;
}
nav ul{
    flex: 1;
    text-align: right;
    padding: 10px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 30px 20px;
    font-style: bold;
    font-size: large;
}
nav ul li a{
    color: #f8f8ff;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    position: relative;
    transition:width 0.2s;
    transform: translateX(-50%);
    left: 50%;
    bottom: -5px;
}
nav ul li a:hover::after{
    width:50%;
}
nav ul li a:hover{
    color: rgb(0, 0, 0);
    transition: 0.2s;
}
.name{
    color: #f8f8ff;
    position: absolute;
    bottom: 8%;
}
.name p{
    margin-left: 10%;
    font-size: 40px;
    font-weight: 550;
    font-family: 'Poppins', sans-serif;
}
.name h1{
    font-size: 150px;
    line-height: 150px;
    margin-left: 30%;
    margin-right: 5%;
    font-family: 'Sedgwick Ave Display', cursive;
    letter-spacing: 9px;
}
.name h4{
    margin-left: 42%;
    font-size: 20px;
    font-weight: 400;
    padding: auto;
}
.name h4 span{
    color: red;
}
.name h1 span{
    color: red;
    font-family: 'Sedgwick Ave Display', cursive;
}
#Services{
    background-color: #2e2e2e;
}
#Services h1{
    align-items: center;
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
    line-height: 50px;
    color: #f8f8ff;
    letter-spacing: 8px;
}
.services{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
    gap:60px;
}
.services .box{
    position: relative;
    width: 300px;
    height: 350px;
    background: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .box .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #f8f8ff;
}
.services .box .content .icon{
    color: var(--clr);
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 6px var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    background: #2e2e2e;
    transition: 0.5s ease-in-out ;

}
.services .box:hover .content .icon{
    background: var(--clr);
    color: #2e2e2e;
    box-shadow: 0 0 0 4px #2e2e2e , 0 0 0 300px var(--clr);
}
#About{
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
}
#About .about{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about img{
    height: auto;
    width: 450px;
    margin-top: 8%;
    margin-bottom: 10%;
}
.about-text{
    width: 550px;
}
.about-text h1{
    color: #ffffff92;
    font-size: 70px;
    text-transform: capitalize;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 6px;
}
.about-text h1 span{
    color: rgba(255, 0, 0, 0.5);
}
.about-text h4 span{
    color: rgba(255, 0, 0, 0.5);
}
.about-text h4{
    color: #ffffff92;
    font-size: 20px;
    margin-bottom: 50px;
    text-transform: capitalize;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px; 
}
.about-text p{
    color: #ffffff92;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 40px;
}
